Pandas

In [1]:
import numpy as np
import pandas as pd

# Series

In [8]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
dic = {'a': 10, 'b': 20, 'c': 30}

# Creating Series

## using Lists

In [9]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [10]:
a = pd.Series(my_list)
a

0    10
1    20
2    30
dtype: int64

In [11]:
a[0]

10

In [13]:
b = pd.Series(data=my_list, index=labels)
b

a    10
b    20
c    30
dtype: int64

## using Array

In [14]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [15]:
pd.Series(data=arr, index=labels)

a    10
b    20
c    30
dtype: int32

## using Dectionary

In [16]:
pd.Series(dic)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(data=dic, index=labels)

a    10
b    20
c    30
dtype: int64

## using an Index

In [18]:
ser_1 = pd.Series(data=[1,2,3,4], index=['Iran', 'Korean', 'China', 'Japan'])
ser_1

Iran      1
Korean    2
China     3
Japan     4
dtype: int64

In [19]:
ser_1['Iran']

1

In [20]:
ser_1['Japan']

4

In [24]:
ser_1 = pd.Series(data=[1,2,3,4], index=['Iran', 'Korean', 'China', 'Japan'])
ser_2 = pd.Series(data=[5,7,9,11], index=['Iran', 'korean', 'USA', 'Japan'])

In [25]:
ser_1

Iran      1
Korean    2
China     3
Japan     4
dtype: int64

In [26]:
ser_2

Iran       5
korean     7
USA        9
Japan     11
dtype: int64

In [27]:
ser_1 + ser_2

China      NaN
Iran       6.0
Japan     15.0
Korean     NaN
USA        NaN
korean     NaN
dtype: float64

In [28]:
ser_1 - ser_2

China     NaN
Iran     -4.0
Japan    -7.0
Korean    NaN
USA       NaN
korean    NaN
dtype: float64

# DataFrame

In [29]:
from numpy.random import randn

In [31]:
df = pd.DataFrame(np.random.randn(5,4), index=['A','B','C','D', 'E'], columns=['Iran', 'Japan', 'USA', 'Korea'])
df

       Iran     Japan       USA     Korea
A  0.846827 -1.091804  0.847975  1.401813
B -0.599237 -0.260456 -0.130517  0.990288
C  0.979760 -0.925122 -0.164279 -0.029222
D  0.908769  1.984440 -0.483574  0.790390
E  0.503491  0.751279 -0.002618  0.629588

## Selection

In [32]:
df['Japan']

A   -1.091804
B   -0.260456
C   -0.925122
D    1.984440
E    0.751279
Name: Japan, dtype: float64

In [34]:
df[['Korea', 'Japan']]

      Korea     Japan
A  1.401813 -1.091804
B  0.990288 -0.260456
C -0.029222 -0.925122
D  0.790390  1.984440
E  0.629588  0.751279

In [35]:
type(df)

pandas.core.frame.DataFrame

In [36]:
type(df['USA'])

pandas.core.series.Series

In [37]:
df['Afghanestan'] = df['Japan'] + df['Iran']
df

       Iran     Japan       USA     Korea  Afghanestan
A  0.846827 -1.091804  0.847975  1.401813    -0.244976
B -0.599237 -0.260456 -0.130517  0.990288    -0.859693
C  0.979760 -0.925122 -0.164279 -0.029222     0.054637
D  0.908769  1.984440 -0.483574  0.790390     2.893209
E  0.503491  0.751279 -0.002618  0.629588     1.254771

In [38]:
df['Germany'] = np.random.randint(0,10,5)
df

       Iran     Japan       USA     Korea  Afghanestan  Germany
A  0.846827 -1.091804  0.847975  1.401813    -0.244976        0
B -0.599237 -0.260456 -0.130517  0.990288    -0.859693        5
C  0.979760 -0.925122 -0.164279 -0.029222     0.054637        9
D  0.908769  1.984440 -0.483574  0.790390     2.893209        7
E  0.503491  0.751279 -0.002618  0.629588     1.254771        4